:root{
    --BackgroundColor:rgb(247, 246, 243);
    --SecondaryColor:rgb(114, 109, 116);
    --TextAccentColor: rgb(183, 162, 185);
    --Darkersecond: rgb(114, 109, 116);
    --thirdColor:rgb(202, 202, 170);
    

}
body{
    margin: 0;
    background-color: var(--BackgroundColor);
    height: 100%;
    width: 100%;
}

.nav{
    background-color: var(--Darkersecond);
    display:flex;
    position: fixed;
    top:0px;
    width: 96%;
    flex-direction: row;
    justify-content: space-between;
    left:2%;
    top:1%;
    border-radius: 100px;
    color: var(--BackgroundColor);
    border-bottom: .01em solid var(--TextAccentColor);
}
.title, .nav-items{
    font-size: 2.1em;
}
.item-group{
    display:flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4vw;
}
.nav-items{
    transition: ease-in-out .4s;
    cursor: pointer;
}

.title{
    margin-left: 4vw;
    cursor: pointer;
    transition: ease-in-out .4s;
}
.nav-items:hover, .title:hover {
    color:var(--TextAccentColor);
}
.spacer{
    height:25vh;
}
#home{
    margin-left: 3.5vw;
    background-color: var(--SecondaryColor);
}
.home-text{
    box-sizing: border-box;
    color: var(--BackgroundColor);
    width: 80%;
    margin: 2% 10%;
    text-align: center;
    padding: 2%;
    font-size:3em;
    background-color: var(--SecondaryColor);
    border-radius: 50px;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    animation-name: grow;
    transition: all ease-in-out .4s;
    
}
@keyframes grow {
    0%{
        border-bottom: .01em solid var(--TextAccentColor);
        border-left: .01em solid var(--TextAccentColor);
    }
    100%{
        border-bottom: .4em solid var(--TextAccentColor);
        border-left: .4em solid var(--TextAccentColor); 
    }
}
about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--thirdColor);
    
}
.headshot{
    margin: 5em 0px;
    border-radius: 500px;
    width: 30%;

}
.edu-cert{
    display:grid;
    width: 94%;
    grid-template-columns: 1fr 1fr;
    column-gap: 12vw;
    row-gap: 12vw;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(400px, 100%/4)), 1fr));
}
.edu, .about{
    text-align: center;
    border: .2em solid var(--Darkersecond);
    border-radius: 50px;
    background-color: var(--TextAccentColor);
}
.about{
    width: 94%;
    margin-top: 12vw;
    margin-bottom: 12vw;
}
.aboutP{
    font-size: 2em;
}
projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Project, .Projectr{
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.Projectr{
    align-items: flex-end;
  
}
.projectTitle{
    font-size: 3em;
    text-decoration: underline;
}
.projectName{
    font-size: 3em;
    text-align: center;
}
.projectItem{
    height: 20vw;
    width:40%;
    background-color: var(--TextAccentColor);
    border-radius: 50px;
    transition: all ease-in-out .4s;
}
.projectItem:hover{
    width: 80%;
    height: 30vw;
}


